body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
    background-color: rgb(214, 214, 214);
}
*{
    box-sizing: border-box;
}


.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 13%);
    gap: 5%;
    justify-content: center;
}

.card {
    width: 100%;
    line-height: 1;
    transition: 500ms;
    position: relative;
    cursor: pointer;

}
.card h2{
    font-size: 20px;
}

.about {
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.title{
    margin-top: 12px;
}

img {
    width: 100%;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 1rem rgb(135, 138, 143);
    transition: 500ms;

}

.h1{
    margin: 60px 0;
}

.like{
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}


.like:hover svg {
    fill: red;
    transform: scale(1.2);
}

.red{
    fill: red;
}



.showLikedBooks{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 3px;
}
.showLikedBooks:hover svg{
    fill: red;
}
.showLikedBooks:hover::after{
    content: "نمایش علاقه مندی ها";
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    background-color: rgb(226, 226, 226);
    font-size: 16px;
    padding: 10px 15px;

}


.more{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    padding: 5%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: none;
}

.more img{
    width: 35%;
    box-shadow: 1px 1px 1rem rgb(78, 78, 78);
}
.more__about{
    width: 65%;
    background-color: rgb(227, 227, 227);
    padding: 50px;
    transition: 500ms;
}


.close{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.794);
    transition: 300ms;
}
.close:hover{
    transform: scale(1.2);
    transition: 300ms;
}

.summary{
    line-height: 1.5;
}

.buy{
    border: none;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    background-color: rgb(75, 165, 255);
    transition: 300ms;
}
.buy:hover{
    box-shadow: 1px 1px 1rem rgba(128, 128, 128, 0.491);
    transform: scale(1.02);
    transition: 300ms;
}


.slide{
    height: 60vh;
    width: 100%;
    background-image: url(./image/book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bookstore{
    color: rgb(255, 255, 255);
    padding-right: 15rem;
    font-size: 1rem;
    font-style: italic;
    line-height: 2;

}
.bookstore span{
    margin-right: 20px;
}

.bookstore p{
    font-weight: 600;
    margin-right: 6rem;
}

.header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.722);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.leftbox{
    width: 11%;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
}

.leftbox svg:hover{
    fill: red;
}

.storeName{
    font-size: 20px;
    font-weight: 600;
}

.home:hover::after{
    content: "صفحه اصلی";
    position: absolute;
    margin-top: 30px;
    left: 150px;
    background-color: rgb(226, 226, 226);
    font-size: 16px;
    padding: 10px 15px;
}




.current{
    fill: red;
    pointer-events: none;
    border-bottom: 2px solid red;
}


.filter{
    width: 100%;
    background-color: rgb(132, 132, 132);
    padding: 10px 60px;
}
.search{
    border: 1px solid gray;
    padding: 6px 15px;
    background-color: rgb(149, 149, 149);
    width: 30%;
}
.search::placeholder{
    font-size: 14px;
    color: rgba(61, 61, 61, 0.903);
}
.search:focus-visible{
    border: none;
    outline: none;
    box-shadow: .5px .5px .5rem gray;
}















.dnone{
    display: none;
}
